.card-header {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3B82F6;
    background-color: #fff !important;
}

.ro >p:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #374151;
}
.ro > p:nth-child(2) {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
}